/* <- Wszystkie czcionki i ich odmiany wymagane dla układu (grubość i styl) są podłączone z usługi Google Fonts za pomocą jednego linku. Wymagana waga dla Raleway – 700, a dla Roboto – 400, 500, 700 i 900. */

/* dodaj root colors */

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
  text-decoration: none;
}

.logo-part {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.link:hover {
  color: #2196f3;
}

h1 {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  background-color: #2f303a;
}

button {
  background-color: #2196F3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
Font family: Roboto
Font size: 16px;
Line height: 30px;
Line height: 160%;
Align: Center;
Vertical align: Center;
Letter spacing: 6%;
}

.p-titles {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/* have to change the figcaption for portfolio as line-height is different */
figcaption {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-names {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.project-name {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}

footer {
  background-color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

footer > .logo {
  color: #ffffff;
}

.link-footer {
  color: #FFFFFF99;
  text-decoration: none;
}

